<article class="museum-item" id="{{ id }}">
  <img
    class="museum-item-image"
    src="{{ webImage.url }}"
    alt=""
    width="{{data.webImage.width}}"
    height="{{data.webImage.height}}"
  />
  <div class="item-content">
    <a href="/collection/{{ id }}">
      <h4>{{ title }}</h4>
    </a>
  </div>
</article>
