{% extends  'base.njk' %}
{% block  content %}
  {% for maker in makers %}
    <section class="h-section">
      <h2> Oh Oh Je bent offline
      </h2>
      <p> Probeer het nog een keer wanneer je verbonden bent met het interwebs </p>
    </section>
  {% endfor %}
{% endblock %}